<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ get_url(path="images/apple-touch-icon-144x144.png", trailing_slash=false) }}"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ get_url(path="images/apple-touch-icon-120x120.png", trailing_slash=false) }}"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ get_url(path="images/apple-touch-icon-72x72.png", trailing_slash=false) }}"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ get_url(path="images/apple-touch-icon-57x57.png", trailing_slash=false) }}"/>
  <link rel="short icon" href="{{ get_url(path="images/favicon.png") }}" type="image/x-icon"/> -->
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
  <link rel="stylesheet" href="{{ get_url(path="fonts.css") }}">
  <link rel="stylesheet" href="{{ get_url(path="fontawesome/css/all.min.css") }}">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% if config.generate_feed %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endif %}
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body>
<div id="sidebar" class="animated fadeInDown">
  <div class="logo-title">
    <div class="title">
      <img id="avatar-image" src="{{ get_url(path="avatar/website.png") }}" alt="avatar"/>
      <h3><a href="{{ get_url(path="@/_index.md") }}">{{ config.title }}</a></h3>
      <div class="description">
        <p>{{ config.description }}</p>
      </div>
    </div>
  </div>
  <ul class="social-links">
    {%- if config.extra.social.github -%}
    <li><a href="https://github.com/{{ config.extra.social.github }}"><i class="fab fa-github"></i></a></li>
    {%- endif -%}
    {%- if config.extra.social.stackoverflow -%}
    <li>
      <a href="https://stackoverflow.com/users/{{ config.extra.social.stackoverflow }}">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
    {%- endif -%}
      {%- if config.extra.social.twitter -%}
      <li><a href="https://twitter.com/{{ config.extra.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
      {%- endif -%}
      {%- if config.extra.social.mastodon -%}
      <li><a rel="me" href="https://{{ config.extra.social.mastodon }}"><i class="fab fa-mastodon"></i></a></li>
      {%- endif -%}
      {% if config.extra.social.facebook -%}
      <li><a href="https://www.facebook.com/{{ config.extra.social.facebook }}"><i class="fab fa-facebook"></i></a></li>
      {%- endif -%}
      {%- if config.extra.social.instagram -%}
      <li><a href="https://www.instagram.com/{{ config.extra.social.instagram }}"><i class="fab fa-instagram"></i></a>
      </li>
      {%- endif -%}
      {%- if config.extra.social.dribbble -%}
      <li><a href="https://dribbble.com/{{ config.extra.social.dribbble }}"><i class="fab fa-dribbble"></i></a></li>
      {%- endif -%}
      {%- if config.extra.social.weibo -%}
      <li><a href="https://weibo.com/{{ config.extra.social.weibo }}"><i class="fab fa-weibo"></i></a></li>
      {%- endif -%}
      {%- if config.extra.social.linkedin -%}
      <li><a href="https://linkedin.com/in/{{ config.extra.social.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
      {%- endif -%}
      {%- if config.extra.social.flickr -%}
      <li><a href="https://www.flickr.com/photos/{{ config.extra.social.flickr }}"><i class="fab fa-flickr"></i></a>
      </li>
      {%- endif -%}
      {%- if config.extra.social.lastfm -%}
      <li><a href="https://www.last.fm/user/{{ config.extra.social.lastfm }}"><i class="fa-brands fa-lastfm"></i></a>
      </li>
      {%- endif -%}
      {%- if config.extra.social.mail -%}
      <li><a href="mailto:{{ config.extra.social.mail }}"><i class="fa-solid fa-envelope"></i></a></li>
      {%- endif -%}
    </ul>
    <div class="footer">
      {% block footer %}
      {% endblock footer %}
    </div>
  </div>
  <div id="main">
    {%- if config.extra.show_navigation -%}
    <div class="page-top animated fadeInDown">
      <div class="nav">
        <li><a {% if current_path=="/" or current_path is starting_with("/page/") %}class="current" {% endif %}
            href="{{ get_url(path=" @/_index.md") }}">{{ trans(key="about") }}</a></li>
      </div>
    </div>
    {%- endif -%}
    <div class="autopagerize_page_element">
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
</body>

</html>
